<footer>
  <div id="footer-main">
    <div id="footer-logo">
      <img src="/assets/img/logo.png">
      <div>Common Sense Systems has provided software engineering services to high-tech companies in the Seattle area since 1996.</div>
    </div>
    <div id="footer-subscribe">
      MONTHLY NEWSLETTER
    </div>
    <div id="footer-address">
      Kirkland, Washington 98034
    </div>
  </div>
  <div id="footer-copyright">
    Copyright © 2023
    &middot;
    <a href="/">Common Sense Systems</a>
    &middot;
    All Rights Reserved
    &middot;
    <a href="/privacy-policy">Privacy Policy</a>
  </div>
</footer>
