/* Google fonts */

@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

/* General styles */

body,
h1,h2,h3,h4,h5,h6,
.navbar-custom,
.post-preview a,
.post-heading .post-meta,
.blog-tags,
#full-tags-list,
.pagination .page-item .page-link {
  font-family: Lato;
}

.space-top {
  margin-top: 3.5rem;
}

@media (max-width: 1199px) {
  .space-top {
    margin-top: 2.5rem;
  }
}

p {
  line-height: 1.875rem;
}

.inline-img {
  float: right;
  width: 300px;
  margin: 1rem 0 1rem 1rem;
}
.inline-img .img-caption {
  font-size: 0.75rem;
  text-align: center;
  line-height: 1.5;
}
@media (max-width: 575px) {
  .inline-img {
    float: none;
    margin: 0 auto;
  }
}

.bigbtn {
  letter-spacing: 1px;
  border: 0;
  display: inline-block;
  border-radius: 5px;
  color: white;
  background: #FF8A3D;
  padding: 0.75rem 3rem;
  transition: all 0.2s;
  font-weight: bold;
}
.bigbtn:hover {
  transform: scale(1.05);
  background: #FF6C0A;
  color: white;
  text-decoration: none;
}
.secondarybtn {
  border: 0;
  display: inline-block;
  border-radius: 5px;
  color: white;
  background: #141f6d;
  font-size: 0.8rem;
  padding: 0.75rem 1.25rem;
  transition: all 0.2s;
  font-weight: bold;
}
.secondarybtn:hover {
  transform: scale(1.05);
  background: #0c1241;
  color: white;
  text-decoration: none;
}

#about-blurb {
  background: #f2f2f2;
  padding: 1rem 3rem;
}

.page-author {
  font-size: 0.9rem;
}

.center {
  text-align: center;
}

/* Navbar */

.navbar-custom {
  padding: 0.75rem 1.5rem;
  transition: padding 0.5s ease-in-out, background-color 0.2s;
}
.navbar-custom .navbar-brand-logo img,
.navbar-custom.top-nav-short .navbar-brand-logo img, 
.navbar-custom.top-nav-short-permanent .navbar-brand-logo img {
  height: 3.125rem;
}
.navbar-custom .navbar-brand-logo img:hover {
  opacity: 0.7;
}
.navbar-custom.top-nav-short,
.navbar-custom.top-nav-short-permanent {
  background: white;
}

.navbar-custom .navbar-nav .nav-item {
  text-transform: none;
  font-size: 1rem;
}

.navbar-custom .navbar-nav .nav-link {
  transition: color 0.2s;
  font-size: 1.125rem;
  font-weight: normal;
  letter-spacing: normal;
  padding: 1.0625rem;
}

.navbar-custom, .navbar-custom.top-nav-short,
.navbar-custom.top-nav-short-permanent {
  padding-top: 0.9375rem;
  padding-bottom: 0.9375rem;
}

@media (min-width: 1200px) {
  .navbar-custom {
    padding: 2.25rem max(calc((100% - 1200px) / 2), 40px);
  }

  .navbar-expand-xl .navbar-nav .nav-item:not(.dropdown):last-child .nav-link {
    padding-right: 0.9375rem;
  }
}

@media (max-width: 1199px) {
  .navbar-custom .navbar-brand-logo img,
  .navbar-custom.top-nav-short .navbar-brand-logo img, 
  .navbar-custom.top-nav-short-permanent .navbar-brand-logo img {
    height: 2rem;
  }
  .navbar-custom .navbar-collapse {
    border-top-width: 0;  
  }
}

/* Header */

header {
  margin-bottom: 1rem;
}

.header-section {
  background: #F2F2F2;
}

.intro-header {
  margin-top: 4.625rem;
  margin-bottom: 0;
}
.intro-header .page-heading,
.intro-header .post-heading {
  padding-top: 2.25rem;
  padding-bottom: 1.5rem;
  text-align: center;
}
.intro-header .page-heading h1,
.intro-header .post-heading h1 {
  font-size: 2rem;
}
.wave-divider {
  width: 100%;
  height: 2.5rem;
}

@media (min-width: 1200px) {
  .intro-header {
    margin-top: 7.875rem;
  }
  .intro-header .page-heading,
  .intro-header .post-heading  {
    padding-top: 5rem;
    padding-bottom: 3.8125rem;
  }
  .intro-header .page-heading h1,
  .intro-header .post-heading h1 {
    font-size: 3.5rem;
  }
  .wave-divider {
    width: 100%;
    height: 4rem;
  }
}

/* Calendly button */

.calendly-badge-content {
  background: #FF801F;
  color: white;
}

/* Footer */

footer {
  font-size: 1.125rem;
  padding: 0 1rem;
}
#footer-main {
  max-width: 1200px;
  margin: 3rem auto;
  display: flex;
  gap: 2rem;
}
#footer-about {
  flex: 5 1 0;
  overflow: auto;
}
#footer-logo {
  float: left;
  width: 8.5rem;
  margin-right: 1rem;
}
#footer-slogan {
  margin-top: 0.5rem;
}
#footer-subscribe {
  flex: 3 1 0;
}
#footer-address {
  flex: 4 1 0;
}

#footer-copyright {
  background: black;
  color: white;
  font-size: 0.875rem;
  padding: 0.6rem 1rem;
  margin: 0 -1rem;
  text-align: center;
}

#footer-copyright a {
  color: white;
  text-decoration: underline;
  text-underline-offset: 0.35rem;
  transition: color 0.2s;
}

#footer-copyright a:hover {
  color: #CCC;
}

#mce-EMAIL-footer {
  width: 100%;
  padding: 0.75rem 1rem;
  border-radius: 5px;
  border: 1px solid #AAAAAA;
  font-family: Lato;
  outline-color: #FF801F;
  margin: 0.25rem 0 1rem;
  font-size: 1rem;
}

#mc-embedded-subscribe-footer {
  font-size: 1rem;
}

@media (max-width: 991px) {
  #footer-main {
    display: block;
  }
  #footer-about {
    display: flex;
  }
  #footer-logo {
    width: 6.5rem;
    align-self: start;
  }
  #footer-slogan {
    margin-top: 0;
  }
  #footer-subscribe {
    margin: 2rem 0;
  }
}

/* Contact page */

#contact-embed-calendly {
  height: 1000px;
}

#contact-form .form-control {
  margin-bottom: 0.75rem;
}

@media (max-width: 1199px) {
  #contact-embed-calendly {
    height: 800px;
  }
}

/* Blog page */

.all-entries {
  margin-top: 2rem;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}

.all-entries .entry {
  flex: 0 0 calc(50% - 1rem);
}

.all-entries .entry .entry-image {
  margin-bottom: 1rem;
  border-radius: 0.25rem;
  overflow: hidden;
}

.all-entries .entry .entry-title {
  font-weight: bold;
  color: black;
  font-size: 1.375rem;
  transition: color 0.2s;
}

.all-entries .entry .entry-title:hover {
  text-decoration: none;
  color: #FF8A3D;
}

.all-entries .entry .entry-author {
  font-size: 0.9rem;
  margin: 1rem 0;
  font-style: italic;
}

.all-entries .entry .entry-excerpt {
  font-size: 1rem;
  margin-bottom: 1rem;
}

.pagination {
  margin-top: 2rem;
}

@media (max-width: 575px) {
  .all-entries {
    display: block;
  }
  .all-entries .entry:not(:last-child) {
    margin-bottom: 2rem;
  }
}