.navbar-custom {
  background: white;
  border-bottom-width: 0;
}
.navbar-custom.top-nav-short,
.navbar-custom.top-nav-short-permanent,
.navbar-custom.top-nav-expanded {
  border-bottom-width: 1px;
}